@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập hệ thống</title>
    <link rel="stylesheet" href="css/style.css">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/toastr")
</head>
<body>

    <div class="login ng-cloak" ng-app="BookingTicketApp" ng-cloak >
        <div class="login-screen"  ng-controller="AccountController">
            <div class="app-title">
                <h1>{{Title}}</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" ng-model="UserName" class="login-field" value="" placeholder="Tên đăng nhập" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">
                    <input type="password" ng-model="Password" class="login-field" value="" placeholder="Mật khẩu" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <div ng-show="iSLoginFail" class="control-group">
                    <p style="color:red">Sai tên đăng nhập hoặc mật khẩu</p>
                </div>
                <img ng-show="isLoading" style="width: 50px;" src="/Content/image/loading.gif">
                <button id="btnLogin" ng-show="!isLoading" ng-click="Login()" class="btn btn-primary btn-large btn-block">Đăng nhập</button>
                <a href="/dang-ky">Đăng ký nhà xe mới?</a>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/app")
</body>
</html>
<script>
    $('#login-name').focus();
    //Event enter
    $('input').keypress(function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            $('#btnLogin').click();
            return false;
        }
    });
</script>
<style>
    * {
        box-sizing: border-box;
    }

        *:focus {
            outline: none;
        }

    body {
        font-family: Arial;
        background-color: #3498DB;
        padding: 50px;
    }

    .login {
        margin: 20px auto;
        width: 400px;
    }

    .login-screen {
        background-color: #FFF;
        padding: 20px;
        border-radius: 5px;
    }

    .app-title {
        text-align: center;
        color: #777;
    }

    .login-form {
        text-align: center;
    }

    .control-group {
        margin-bottom: 10px;
    }

    input {
        text-align: center;
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 200;
        padding: 10px 0;
        width: 300px;
        transition: border .5s;
    }

        input:focus {
            border: 2px solid #3498DB;
            box-shadow: none;
        }

    .btn {
        border: 2px solid transparent;
        background: #3498DB;
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        display: block;
        width: 300px;
        margin: 0 auto;
    }

        .btn:hover {
            background-color: #2980B9;
        }

    .login-link {
        font-size: 12px;
        color: #444;
        display: block;
        margin-top: 12px;
    }
</style>